
<p>
  <strong>Value:</strong>
  	<span title="<%=@key.value %>"><%= @key.value[0..100] %></span>
</p>

<p>
  <strong>User:</strong>
  <%= @key.user.name %>
</p>

<%= link_to 'Back', keys_path, :class => "btn btn-danger" %>
